version: "3"
services:
  app:
    image: unclepepper/myphp:v1
  
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POATGRES_DB: db

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
